input {
  elasticsearch {
    hosts => ["125.212.211.60:9200"]
    index => "smm"
    size => 200
    docinfo => true
    scroll => "5m"
    query => '{"query":{"bool":{"filter":{"range":{"createdTime":{"gte":"2019-01-01T00:00:00.000Z","lte":"2020-01-01T00:00:00.000Z"}}},"must":[{"term":{"_type":"feed"}},{"term":{"industry":{"value":"cars"}}}]}},"sort":[{"createdTime":{"order":"asc"}}]}'
  }
}

filter {
    mutate  {
        gsub => [
          "page", "%{industry}_", "",
          "shareFrom","%{industry}_","",
          "feed","%{industry}_","",
          "comment","%{industry}_",""
        ]
        remove_field => [ "logErrorCrawler","logDetailErrorCrawler","segments","topics", "tags_custom", "number_extracted_words","number_rejected_words","defaultAspects","defaultEntities","lastUpdateTime","pid","ptype","pindex","platfrom","unchangedTime","isAd","isHam","isQuest","isSentiment","comments"]
        copy => { "isCarRelated" => "isSubjectRelated" }
        update => { "lastUpdatedTime" => "%{@timestamp}"}
        
        add_field => { 
          "industries" => ["celebrity","cars"] 
          "docType" => "%{[@metadata][_type]}"
        }
    }
    ruby {
        code => 'event.set("[@metadata][created_time]", Date.parse(event.get("createdTime")).strftime("%Y-%m"))'
    }
}

output {
  elasticsearch {
    hosts => "elasticsearch:9200"
    index => "smm-v10-%{[@metadata][created_time]}"
    document_id => "%{platform}_%{id}"
	  user => elastic
	  password => dazikzak
 }
  stdout {
    codec => "dots"
  }
}